* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    margin: auto;
    border: 1px solid black;
}
.menu{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 30%;
    margin-left: 30%;
    margin-right: 30%;
}
a{
    text-decoration: none;
}
a:link{
    color:black;
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#0ca39c;
    text-decoration: none;
}

.logo{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 20%;
    
}
.beacon{
    width: 100%;
    height: 550px;
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/the-beacon.jpg?raw=true")
    
}
#text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-end; 
    margin-right: 5%; 
    max-width: 100%; 
    color: white; 
    padding: 20px; 
}

#head{
    margin-top: 100px;
    font-size: 25px;
    margin-bottom: 20px;
    height:50px;
    padding-top:20px;
    color: black;
    background-color: white;
    text-align: center;
    width:30%;
}

#t1{
    padding-top: 10px;
    width: 25%;
    height: 40px;
    background-color: #252525;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}

#t2{
    padding-top: 10px;
    height: 40px;
    width: 30%;
    background-color: #252525;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}

#t3{
    padding-top: 10px;
    width: 20%;
    background-color: #252525;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
}

#rm{
   
    text-align: center;
    width: 10%;
    color:white;
    height: 50px;
    padding-top: 20px;
    font-size: 20px;
    background-color: #0ca39c;
}
.cuts{
    margin-right: 15%;
    margin-left:15%;
    display: flex;
    justify-content: space-evenly;
}
.father{
    border:2px solid rgb(50, 50, 50);
    opacity: 55%;
}
.actor{
    border:2px solid rgb(50, 50, 50);
    opacity: 55%;
}
.nerd{
    border:2px solid rgb(50, 50, 50);
    opacity: 55%;
}
.label{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
    margin-left:15%;
}
.footer{
    background-color: #252525;
    height: 150px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
#copyright{
    margin-top: 70px;
    display: flex;
    color:white;
    margin-right: 20%;
}
#mediaIcons{
    margin-top: 50px;
    display: flex;
}
#twitter{
    margin-right: 10px;
    height: 45px;
    width: 45px;
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/icons/icon-twitter.jpg?raw=true");
}
#twitter:hover{
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/icons/icon-twitter-hover.jpg?raw=true");
}
#facebook{
    margin-right: 10px;
    height: 45px;
    width: 45px;
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/icons/icon-facebook.jpg?raw=true");
}
#facebook:hover{
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/icons/icon-facebook-hover.jpg?raw=true");
}
#gplus{
    margin-right: 10px;
    height: 45px;
    width: 45px;
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/icons/icon-googleplus.jpg?raw=true");
}
#gplus:hover{
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/icons/icon-googleplus-hover.jpg?raw=true")
}
#pinterest{
    height: 45px;
    width: 45px;
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/icons/icon-pinterest.jpg?raw=true") ;
}
#pinterest:hover{
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/icons/icon-pinterest-hover.jpg?raw=true")
}
#headtag {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 10%;
    max-width: 35%;
    font-size: 60px;
    color: white;
    background-color: #252525;
    text-align: center;
}
.headtext{
    font-size:20px;
    color:#252525;
}
.textblocks {
    margin:0 auto;
    display: flex;
    flex-direction: column;
    max-width: 40%; 
    text-align: center;
    justify-content: center;
}
#player{
    max-width: 40%;
    background-repeat:no-repeat;
    margin-left: 30%;
    margin-right: 30%;
    height: 300px;
    width:40%;
    border: 2px solid rgb(50, 50, 50);
    background-image: url("https://github.com/mainulkdr/lecture-resource/blob/main/CSET-110/Assessment-1%20Resource/images/photographer.jpg?raw=true");
}   
#text1, #text2, #text3, #text4 {
    margin: 0 auto;
    
}
#text1, #text2, #text3, #text4 {
    text-align: center;
    width: 100%; 
    margin-bottom: 20px; 
    padding: 10px; 
    box-sizing: border-box; 
    margin: 0 auto;
}
.underline{
    text-decoration: underline;
}

@media (min-width: 768px) {
    .menu {
        width: 60%;
        margin: 0 auto;
    }

    .textblocks, #player {
        width: 60%;
    }
}


@media (max-width: 767px) {
    .menu {
        flex-direction: column;
        width: 100%;
        margin: 0;
        font-size: 18px;
    }

    .logo {
        width: 50%;
        height: auto;
    }

    .beacon {
        height: auto;
    }

    #head {
        width: 80%;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    #t1, #t2, #t3, #rm {
        float: none;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .cuts {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .father, .actor, .nerd {
        width: 80%;
        margin-bottom: 20px;
    }

    .label {
        flex-direction: column;
        text-align: center;
    }

    .textblocks, #player {
        width: 90%;
        margin: 0 auto;
    }
}